#logoTable {
  display: table;
  width: 100%;
  height: 100%;
}
#logoTableCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.projectHeader {
  color: #666;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 14px 0;
  padding: 0;
}
.projectContainer {
  margin-bottom: 12px;
}
.badge {
  float: left;
  margin: -3px 8px 0 0;
  height: 30px;
}
.smallTitle {
  font-size: 20px;
  margin-bottom: 4px;
  font-family: "Roadgeek 2005 Series D";
}
.smallLabel {
  color: #999;
  text-transform: uppercase;
}
