table#shoefies
	tr
		th(style='width:45px;')
		th Recent Shoefies
	each shoefie in body
		tr
			td.shoefieThumb
				img.person(style='margin-left:4px', src=url.body.thumbnailLink)
			td.shoefieName #{url.body.title}