table#projects
	tr
		th(style='width:45px;')
		th Recent #{table_title} Shoefies
	each shoefie in shoefie_images
		tr
			td.projectPersons
				img.person(style='margin-left:4px; width:45px;', src=shoefie.thumbnailLink)
			td.projectName #{shoefie.title}